.footer
// build:js assets/js/lib/jquery-1.11.2.min.js
script(src="../assets/js/lib/jquery-1.11.2.min.js")
// endbuild
// build:js assets/js/lib/bundle.js
script(src="../assets/js/lib/masonry.js")
// endbuild
// build:js assets/js/main.js
script(src="../assets/js/main.js")
// endbuild
